 
      




        .overlay {
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
          display: flex;
          align-items: center;
          justify-content: center;
          z-index: 1000;
          transition: opacity 0.5s ease;
          opacity: 1;
        }
      
        /* Style for the image inside the overlay */
        .overlay img {
          max-width: 100%; /* Adjust as needed */
          width: 100%;
          height: auto;
          opacity: 0.5;;
        }
      
        /* Hidden state for the overlay */
        .overlay.hidden {
          opacity: 0;
          visibility: hidden;
        }